
.footer, .footer h4{
  display: flex;
}

.footer{
  height: 70px;
  width: 350px;
  margin: 0 auto;

  justify-content: flex-end;

  position: relative;

  background-color: #89fcb7;
}

.footer > h4 {

  justify-content: center;
  text-align: center;
  align-items: center;

  padding: 15px;
}

.footer > figure {
  height: 150px;
  width: 100%;

  position: absolute;
  top: -50px;
  left: -40px;

  border-radius: 15px;
}



.check-values{
  position: absolute;
  top: -60px;
  right: 5px;

  width: 120px;
  height: 25px;

  font-size: 13px;
  border-radius: 5px;
}

.check-values:focus{
  outline: 0;
}
