

@media screen and (min-width: 620px) {

    .header-nav, .sudoku, .footer, .sudoku-grid{
      width: 600px;
    }

    .header-nav{
      height: 75px;
    }

    .header-menu > li {
      font-size: 20px;
    }

    .sudoku-tag{
      left: -30px;
      top: 50px;
      height: 65px;
      width: 150px;
      transform: rotate(-25deg);
    }

    .sudoku-tag > span {
      font-size: 18px;
    }

    .sudoku {
      height: 800px;
    }

    .sudoku-grid {
      height: 540px;
    }

    .sudoku-grid > ul {
      width: 540px;
      height: 60px;
    }

    .sudoku-grid-tile{
      width: 60px;
      height: 100%;
      font-size: 20px;

    }

    .footer > figure {
      height: 250px;
      top: -120px;
      left: -60px;
    }

    .check-values{
      top: -120px;
      right: 30px;

      width: 200px;
      height: 50px;

      font-size: 20px;
      border-radius: 10px;
    }
}


@media screen and (min-width: 920px) {

  .header-nav, .sudoku, .footer, .sudoku-grid{
    width: 900px;
  }

  .header-nav{
    height: 75px;
  }

  .header-menu > li {
    font-size: 25px;
  }

  .sudoku-tag{
    left: -20px;
    height: 75px;
    width: 200px;
    transform: rotate(-25deg);
  }

  .sudoku-tag > span {
    font-size: 30px;
  }

  .sudoku {
    height: 900px;
  }

  .sudoku-grid{
    height: 650px;
  }

  .sudoku-grid > ul, .hint {
    width: 650px;
    height: 72px;
  }

  .hint > li, .sudoku-grid-tile{
    font-size: 25px;
  }

  .sudoku-grid-tile{
    width: 72px;
    height: 100%;
  }

  .footer > h4 {
    font-size: 18px;
  }

  .check-values{
    top: -100px;
    right: 120px;

    width: 200px;
    height: 50px;

    font-size: 20px;
    border-radius: 10px;
  }
}

@media screen and (min-width: 1220px) {

  .header-nav, .sudoku, .footer, .sudoku-grid{
    width: 800px;
  }

  .header-nav{
    height: 75px;
  }

  .header-menu > li {
    font-size: 30px;
  }

  .sudoku-tag{
    left: 0px;
    height: 80px;
    width: 200px;
    transform: rotate(-25deg);

  }

  .sudoku-tag > span {
    font-size: 35px;
  }

  .sudoku {
    height: 800px;
  }

  .sudoku-grid{
    height: 450px;
  }


  .sudoku-grid > ul {
    width: 450px;
    height: 50px;
  }

  .sudoku-grid-tile, .hint li{
    font-size: 20px;
  }

  .sudoku-grid-tile{
    width: 50px;
    height: 100%;
  }

  .footer > figure {
    height: 300px;
    top: -170px;
    left: -70px;
  }

  .footer > h4 {
    font-size: 25px;
  }

  .check-values{
    top: -230px;
    right: 180px;

    width: 200px;
    height: 40px;

    font-size: 25px;
    border-radius: 10px;
  }
}
