body, .sudoku-grid-tile{
  background-color: #F3F3F3;
}

.sudoku, .sudoku-grid, .sudoku-grid > ul, .tile-blocked {
  background-color: #CCC;
}

.tile-selected {
  background-color: #CCFFE5;
}

.check-values{
  background-color: #89fcb7;
}

.conflict-value{
  background-color: red;
}

.hint{
  margin-top: 10px;
}


.sudoku, .sudoku-grid, .sudoku-grid > ul {
  margin: 0 auto;
}

.sudoku-grid, .sudoku-grid > ul, .sudoku-grid-tile{
  display: flex;
}

.sudoku, .sudoku-grid{
  width: 350px;
}


.sudoku {
  height: 500px;
}

.sudoku-grid{
  height: 350px;
  flex-wrap: wrap;
}

.sudoku-grid > ul {
  width: 100%;
  height: 38px;
  border: 1px solid black;
}

.sudoku-grid-tile {
  width: 38px;
  height: 100%;

  justify-content: center;
  text-align: center;
  align-items: center;

  border-left: 1px solid black;
  border-style: outset;

  font-size: 13px;
}


.sudoku-grid > ul > li:nth-child(3n) {
  border-right: 3px solid black;
}

.sudoku-grid > ul:first-child {
  margin-top: 30px;
}

.sudoku-grid > ul:nth-child(3n){
  border-bottom: 3px solid black;
}

input[type=text]{
  width: 100%;
  height: 100%;
}

input[type=text]:focus {
  background-color: #00CC66;
  border: 2px solid #CCC;
}
